@import 'variables.css';

.airlineLogo {
  position: relative;
  max-width: 100px;
  max-height: 36px;
}

.fallbackAirlineName {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 600px) {
  .airlineLogo {
    max-width: 40px;
    max-height: 26px;
  }
}
