@import 'variables.css';

.header {
  display: flex;
  height: 70px;
}

.typeSelector {
  display: flex;
  align-items: center;
  flex-basis: 50%;
  background: var(--color-orange);
  padding: 0 15px;
  color: var(--color-white);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-medium);
  transition: all var(--transition-time);
}
.typeSelector:hover {
  background-color: color(var(--color-orange) shade(10%));
}

.clock {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.type {
  margin-left: 10px;
  position: relative;
}

.type:after {
  content: '';
  position: absolute;
  right: -20px;
  width: 0;
  height: 0;
  bottom: 5px;
  border: 5px solid transparent;
  border-top: 6px solid var(--color-white);
}

.toggleSearch {
  display: none;
}

.searchIcon {
  width: 40px;
  height: 20px;
}

.searchIconCircle {
  stroke: var(--color-white);
}

.searchIconRect {
  fill: var(--color-white);
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  flex-basis: 50%;
  background: var(--color-white);
}

.searchInput {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 15px;
  border: none;
  outline: none;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-light);
}

.clearSearch {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 36px;
}

.closeIcon {
  width: 15px;
  height: 15px;
}

.closeIconShape {
  fill: var(--color-orange);
}

.typeDropdown {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 70px;
  height: 70px;
  width: 50vw;
  display: flex;
  align-items: center;
  background: var(--color-orange);
  padding: 0 2vw 0 calc(2vw + 50px);
  color: var(--color-white);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-medium);
}
.typeDropdown:hover {
  background-color: color(var(--color-orange) shade(10%));
}

.labels {
  position: fixed;
  top: 70px;
  width: 100%;
  padding: 5px 0;
  background: var(--color-grey);
  font-size: var(--font-size-small);
  color: var(--color-white);
  text-transform: uppercase;
}

.margin {
  width: 2.5%;
}

.scheduled {
  width: 11%;
}

.airline {
  width: 10%;
}

.flightNum {
  width: 10%;
}

.location {
  width: 34%;
}

.status {
  width: 25%;
}

.details {
  display: none;
}

@media(max-width: 600px) {

  .header {
    display: block;
    position: relative;
  }

  .typeSelector {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .typeSelector:hover {
    background-color: var(--color-orange);
  }

  .typeDropdown {
    width: 100%;
  }

  .toggleSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 25px;
  }

  .search {
    position: absolute;
    left: 0;
    right: 0;
    top: -70px;
    height: 70px;
    transition: transform var(--transition-time) ease;
  }

  .search--active {
    transform: translateY(100%);
  }

  .scheduled {
    width: 30%;
  }

  .airline, .flightNum, .location, .status {
    display: none;
  }

  .details {
    display: table-cell;
    width: 70%;
  }

}
